@use 'sass:color';

.header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.button{
    background-color: #f1f1f1;
    &:hover{
        background-color: #e1e1e1;
    }
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size: 0.8rem;
    min-width: 52px;
}

.buttonPrimary{
    $color: #28b97c;
    background-color: $color;
    color: #fff;
    &:hover{
        background-color: color.adjust($color, $lightness: -10%);
    }
}