$box-shadow-color: rgba(149, 157, 165, 0.2);
$text-color: var(--textColor);
$title-color: #2d2d2d;
$image-overlay-color: black;
$type-bg-color: #e8e8e8;

.card {
    box-shadow: $box-shadow-color 0rem 0.5rem 1.5rem;
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: white;
    color: $text-color;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    position: relative;

    &:hover img {
        transform: translateY(-0.625rem);
    }
}

.title {
    font-size: 1.25rem;
    color: $title-color;
    margin: 0;
}

.image {
    width: 100%;
    min-height: 0.3125rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0.625rem;
        height: 1.5625rem;
        width: 50%;
        background: $image-overlay-color;
        opacity: 0.25;
        border-radius: 100%;
        left: 0;
        right: 0;
        filter: blur(0.4375rem);
    }

    img {
        max-width: 100%;
        min-height: 15.625rem;
        height: auto;
        margin: auto;
        padding: 0.75rem;
        display: block;
        position: relative;
        z-index: 1;
        transition: transform 0.2s ease-in-out;
    }
}

.infos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;

    > div {
        display: flex;
        gap: 0.3125rem;
        flex-direction: column;
    }
}

.type {
    background-color: $type-bg-color;
    border-radius: 0.3125rem;
    text-align: center;
    padding: 0.3125rem;
    font-size: 0.6875rem;
    display: inline-block;
    width: 4.6875rem;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3125rem;
    flex-wrap: wrap;
    position: absolute;
    top: 1.25rem;
    z-index: 10;

    button {
        border: 0;
        background: none;
        cursor: pointer;
        color: inherit;
    }
}
