@use 'sass:color';

$color-fogo: #b92828;
$color-agua: #283eb9;
$color-terra: #b96228;
$color-ar: #28b97c;
$color-escuridao: #7328b9;
$color-eletrico: #b9b928;
$color-gelo: #28b9b9;
$color-metal: #b9b9b9;
$color-veneno: #b928b9;

:root {
  --color-fogo: #{$color-fogo};
  --color-agua: #{$color-agua};
  --color-terra: #{$color-terra};
  --color-ar: #{$color-ar};
  --color-escuridao: #{$color-escuridao};
  --color-eletrico: #{$color-eletrico};
  --color-gelo: #{$color-gelo};
  --color-metal: #{$color-metal};
  --color-veneno: #{$color-veneno};
  --textColor: #4b4b4b;
}


@function text-clr($color) {
  @if (color.channel($color, "lightness", $space: hsl) > 50) {
    @return #2e1c1c;
  } @else {
    @return #fff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", "Inter Fallback";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  max-width: 1024px;
  margin: auto;
  padding: 11px;
}

.size-6{
  // Para os svg do heroicons
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

@each $type, $color in (
  fogo: $color-fogo, 
  agua: $color-agua, 
  terra: $color-terra, 
  ar: $color-ar, 
  escuridao: $color-escuridao, 
  eletrico: $color-eletrico, 
  gelo: $color-gelo, 
  metal: $color-metal, 
  veneno: $color-veneno
) {
  .type-#{$type} {
    background-color: var(--color-#{$type}) !important;
    color: text-clr($color);
  }
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  textarea {
    resize: none;
  }
  input:focus,
  textarea:focus,
  select:focus {
    border-color: $color-agua;
    outline: none;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: $color-ar;
    color: text-clr( $color-ar);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid $color-ar;
  }

  .btn-secundary{
    background-color: transparent;
    border-color: $color-ar;
    color: $color-ar;
  }
  
  button:hover {
    background-color: color.adjust($color-ar, $lightness: -10%) ;
    color: text-clr( color.adjust($color-ar, $lightness: -10%) );
    border-color: color.adjust($color-ar, $lightness: -10%);
  }
}

